# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# Following Teams will be requested for
# review when someone opens a pull request.
* @taurusgroup/taurus-protect-core @taurusgroup/taurus-protect-blockchain @taurusgroup/taurus-protect-frontend

.github/CODEOWNERS @taurusgroup/taurus-secops
